<form class="search-form">
    <section>
        <input id="rawmaterial-id-search" type="text" ng-focus="focusOnIdSearch=true" ng-blur="focusOnIdSearch=false" placeholder="product code example BB-S-CL. or --CL">
        <input id="rawmaterial-description-search" type="text" ng-focus="focusOnDescriptionSearch=true" ng-blur="focusOnDescriptionSearch=false" placeholder="description">
    </section>
    <section id="scroll-searchbars">
        <section class="search-section-scroll-with-searchbar">
            <input id="sis" class="searchbar-scroll-element" type="text" ng-model="sizeSearchText">
            <div id="sizeSearchScrollBox" class="scroll-element">
                <ul class="scroll-search-box-list">
                    <li ng-repeat="size in searchPopulationData.sizes"><span>{{size.code}}:{{size.name}}</span><input id="sis{{size.id}}" class="scroll-search-box-listitem-checkbox" type="checkbox"></li>
                </ul>
            </div>
        </section>
        <section class="search-section-scroll-with-searchbar">
            <input id="prs" class="searchbar-scroll-element" type="text" ng-model="productSearchText">
            <div id="productSearchScrollBox" class="scroll-element">
                <ul class="scroll-search-box-list">
                    <li ng-repeat="product in searchPopulationData.productTypes"><span>{{product.code}}:{{product.name}}</span><input id="prs{{product.id}}" class="scroll-search-box-listitem-checkbox" type="checkbox"></li>
                </ul>
            </div>
        </section>
        <section class="search-section-scroll-with-searchbar">
            <input id="sus" class="searchbar-scroll-element" type="text" ng-model="supplierSearchText">
            <div id="supplierSearchScrollBox" class="scroll-element">
                <ul class="scroll-search-box-list">
                    <li ng-repeat="supplier in searchPopulationData.suppliers"><span>{{supplier.supplierCode}}:{{supplier.name}}</span><input id="sus{{supplier.id}}" class="scroll-search-box-listitem-checkbox" type="checkbox"></li>
                </ul>
            </div>
        </section>
        <section class="search-section-scroll-with-searchbar">
            <input id="ses" class="searchbar-scroll-element" type="text" ng-model="seriesSearchText">
            <div id="seriesSearchScrollBox" class="scroll-element">
                <ul class="scroll-search-box-list">
                    <li ng-repeat="serie in searchPopulationData.series"><span>{{serie.name}}</span><input id="ses{{serie.id}}" class="scroll-search-box-listitem-checkbox" type="checkbox"></li>
                </ul>
            </div>
        </section>
    </section>
    <section class="color-search">
        <ul class="color-search-listbox">
           <li ng-repeat="color in searchPopulationData.colors">
               <div class="color-box" ng-style="{'background-color': color.value}">
                   <span class="color-search-name">{{color.name}}</span>
                   <span class="color-search-code">{{color.code}}</span>
                   <input id="cl{{color.id}}" class="color-search-checkbox" type="checkbox">
               </div>
           </li>
            <li>
                <div class="select-all-btn" ng-click="selectAllColors()">
                    Select All
                </div>
                <div class="deselect-all-btn" ng-click="deselectAllColors()">
                    Deselect All
                </div>
            </li>
        </ul>
        <!--<a href="" ng-click="selectAllColors()">select all</a>
        <a href="" ng-click="deselectAllColors()">deselect all</a>-->
    </section>
    <section class="quality-search">
        <ul class="quality-search-list">
            <li ng-repeat="quality in searchPopulationData.qualities"><span>{{quality.name}}</span><input id="q{{quality.id}}" type="checkbox"></li>
            <li>
                <div class="select-all-btn" ng-click="selectAllQualities()">
                    Select All
                </div>
            </li>
            <li>
                <div class="deselect-all-btn" ng-click="deselectAllQualities()">
                    Deselect All
                </div>
            </li>
        </ul>
    </section>
    <section class="button-bar">
        <div ng-show="overviewType == 'overview'" id="csv-btn" ng-click="getCsvData()">
            <p>CSV</p>
        </div>
        <div ng-show="overviewType == 'order'" id="order-amount">
            <input type="text" ng-model="orderAmount.rawMaterialAmount">
        </div>
        <div id="search-btn" ng-click="search()">
            <p>Search</p>
        </div>
    </section>
</form>