.search-form{
    background-color: lightblue;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#rawmaterial-id-search{
    width: 40%;
    min-width: 250px;
    margin: 10px;
    margin-left: 5px;
}

#rawmaterial-description-search{
    width: 40%;
    min-width: 250px;
    margin: 10px;
    margin-right: 5px;
    float: right;
}

#text-float-right{
    float: right;
}

.search-section-scroll-with-searchbar{
    display: inline-block;
    width: 20%;
    margin: 5px;
    margin-bottom: 10px;
}

.searchbar-scroll-element{
    width: 100%;
}

.scroll-element{
    overflow-y: scroll;
    height: 150px;
    position: relative;
    background-color: white;
}

.scroll-search-box-list{
    list-style: none;
    margin: 0;
    margin-left: 5px;
    padding: 0;
}

.scroll-search-box-listitem-checkbox{
    position: absolute;
    right: 5px;
}

.color-search-listbox{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 10px;
}

.color-search-listbox li{
    display: inline-block;
}

.color-box{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: green;
    margin-right: 10px;
}

.color-box span{
    font-weight: 600;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.color-search-name{
    position: absolute;
    left: 0;
    top: 0;
}

.color-search-code{
    position: absolute;
    left: 0;
    bottom: 0;
}

.color-search-checkbox {
    position: absolute;
    right: 0;
    bottom: 0;
}

.quality-search-list{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.quality-search-list li{
    display: inline-block;
    margin-right: 6px;
    padding: 3px;
    background-color: white;
    margin-bottom: 10px;
}
.quality-search-list li span{
    margin-right: 6px;
}

.select-all-btn{
    width: 100px;
    height: 1.5em;
    text-align: center;
    background-color: #02aa8f;
    cursor:pointer;
}

.deselect-all-btn{
    width: 100px;
    height: 1.5em;
    text-align: center;
    background-color: #F5031F;
    cursor:pointer;
}

.button-bar{
    width: 100%;
    height: 50px;
    background-color: lightgrey;
}

#csv-btn{
    background-color: #02aa8f;
    width: 150px;
    height: 40px;
    color: white;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
    text-align: center;
}

#csv-btn p{
    font-size: 2em;
}

#order-amount{
    width: 150px;
    height: 40px;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
    text-align: center;
}

#search-btn{
    background-color: #02aa8f;
    width: 150px;
    height: 40px;
    color: white;
    margin-top: 5px;
    float: right;
    margin-right: 5px;
    text-align: center;
}

#search-btn p{
    font-size: 2em;
}

