<div class="content-place-holder">
    <div class="crud-edit-btn-bar">
        <div ng-show="overviewType == 'overview'" class="refresh-crud-btn" ng-click="refresh()">
            <img src="assets/img/refresh.png">
        </div>
        <div ng-show="overviewType == 'detailRaw' || overviewType == 'detailFinished'" class="create-crud-btn" ng-click="backToOverview()">
            back to overview
        </div>
        <div ng-show="overviewType == 'overview'" class="create-crud-btn" ng-click="createStock()">
            + Create Stock
        </div>
    </div>
    <section ng-show="overviewType == 'overview'">
        raw stocks
        <div class="gridStyle" ng-grid="rawStockGridOptions"></div>
        <br/>
        finished stocks
        <div class="gridStyle" ng-grid="finishedStockGridOptions"></div>
    </section>
    <section ng-show="overviewType == 'detailRaw'">
        {{rawStockItemDetail.name}} located at {{rawStockItemDetail.location}}<br/>
        <div class="gridStyle" ng-grid="stockRawDetailGrid"></div>
    </section>
    <section ng-show="overviewType == 'detailFinished'">
        {{finishedStockItemDetail.name}} located at {{finishedStockItemDetail.location}}<br/>
        <div class="gridStyle" ng-grid="stockFinishedDetailGrid"></div>
    </section>
</div>