<div class="content-place-holder">
    <div class="crud-edit-btn-bar">
        <div class="refresh-crud-btn" ng-click="refresh()">
            <img src="assets/img/refresh.png">
        </div>
        <div class="create-crud-btn" ng-click="createCustomer()">
            + Create Customer
        </div>
    </div>
    <div class="gridStyle" ng-grid="customerGrid"></div>
</div>