<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create material notification.</h1>
        <h1 ng-show="crudType == 'edit'">Edit material notification.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div><div class="create-crud-btn" ng-click="cancel()">
                back
            </div>
        </div>
        <div ng-show="crudType == 'create'" class="gridStyle" ng-grid="rawMaterialsGrid"></div>
        <form ng-show="crudType == 'create'" name="tstest">
            You have currently selected {{selectedRawMaterial.productCode}} from supplier {{selectedRawMaterial.supplier}}<br/>
            pre date: <input id="preDateField" type="Text" name="pre" disabled>
            <a href="javascript:show_calendar('document.tstest.pre', document.tstest.pre.value);"><img src="../../../assets/img/cal.gif" width="16" height="16" border="0" alt="Click Here to Pick up the timestamp"></a><br/>
            start date: <input id="startDateField" type="Text" name="start" disabled>
            <a href="javascript:show_calendar('document.tstest.start', document.tstest.start.value);"><img src="../../../assets/img/cal.gif" width="16" height="16" border="0" alt="Click Here to Pick up the timestamp"></a><br/>
            end date: <input id="endDateField" type="Text" name="end" disabled>
            <a href="javascript:show_calendar('document.tstest.end', document.tstest.end.value);"><img src="../../../assets/img/cal.gif" width="16" height="16" border="0" alt="Click Here to Pick up the timestamp"></a><br/>
            amount: <input type="text" ng-model="amount"><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
            <span ng-show="DateWrongFormatError">The date is set in a wrong format.<br/></span>
            <span ng-show="MissingDateError">Not all dates are filled in.<br/></span>
            <span ng-show="WrongAmountFormatError">You have an incorrect amount filled in.<br/></span>
            <span ng-show="MissingRawMaterialError">You have no raw material selected.<br/></span>
            <span ng-show="DateMismatchError">Dates are not in the wright order.<br/></span>
        </form>
        <div ng-show="crudType == 'create'" class="gridStyle" ng-grid="materialNotificationGrid"></div>
        <div ng-show="crudType == 'edit'" class="gridStyle" ng-grid="materialNotificationEditGrid"></div>
    </div>
</div>