<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create series.</h1>
        <h1 ng-show="crudType == 'edit'">Edit series.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form>
            Series name: <input type="text" ng-model="editingSeries.name"><br/>
            Series description: <input type="text" ng-model="editingSeries.description"><br/>
            Supplier name: {{selectedSupplier.name}}<br/>
            <br/>
            Select a different supplier:
            <select ng-model="selectedSupplier"
                    ng-options="supplier.name for supplier in suppliers">
            </select><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
            <span ng-show="SupplierMissingError">You have not selected a supplier.<br/></span>
        </form>
    </div>
</div>