<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create order.</h1>
        <h1 ng-show="crudType == 'edit'">Edit order.</h1>
        <form>
            Supplier name: {{supplier.name}}<br/>
            Supplier contact: {{supplier.contactnote.content}}<br/>
            Supplier order information: {{supplier.suppliernote.content}}<br/>
            Note: <textarea ng-model="note.content"></textarea><br/>
            <span ng-show="NoOrderItemsError">You have no items in your shopping cart.<br/></span>
            <span ng-show="SupplierMissingError">You are missing a supplier.<br/></span>
            <input ng-show="crudType == 'create'" type="button" value="order" ng-click="order()">
            <input ng-show="crudType == 'edit'" type="button" value="save edited order" ng-click="order()">
            <input type="button" value="cancel" ng-click="cancelOrder()">
            <input type="button" value="add items to order" ng-click="keepShopping()">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </form>
    </div>
</div>