<form class="search-form">
    <section>
        <input id="rawmaterial-id-search" type="text" ng-focus="focusOnIdSearch=true" ng-blur="focusOnIdSearch=false" placeholder="product code example BB-156-S-CL. or ---CL">
        <input id="rawmaterial-description-search" type="text" ng-focus="focusOnDescriptionSearch=true" ng-blur="focusOnDescriptionSearch=false" placeholder="description">
    </section>
    <section id="scroll-searchbars">
        <section class="search-section-scroll-with-searchbar">
            <input id="sis" class="searchbar-scroll-element" type="text" ng-model="sizeSearchText">
            <div id="sizeSearchScrollBox" class="scroll-element">
                <ul class="scroll-search-box-list">
                    <li ng-repeat="size in searchPopulationData.sizes"><span>{{size.code}}:{{size.name}}</span><input id="sis{{size.id}}" class="scroll-search-box-listitem-checkbox" type="checkbox"></li>
                </ul>
            </div>
        </section>
        <section class="search-section-scroll-with-searchbar">
            <input id="prs" class="searchbar-scroll-element" type="text" ng-model="productSearchText">
            <div id="productSearchScrollBox" class="scroll-element">
                <ul class="scroll-search-box-list">
                    <li ng-repeat="product in searchPopulationData.productTypes"><span>{{product.code}}:{{product.name}}</span><input id="prs{{product.id}}" class="scroll-search-box-listitem-checkbox" type="checkbox"></li>
                </ul>
            </div>
        </section>
        <section class="search-section-scroll-with-searchbar">
            <input id="sus" class="searchbar-scroll-element" type="text" ng-model="supplierSearchText">
            <div id="supplierSearchScrollBox" class="scroll-element">
                <ul class="scroll-search-box-list">
                    <li ng-repeat="supplier in searchPopulationData.suppliers"><span>{{supplier.supplierCode}}:{{supplier.name}}</span><input id="sus{{supplier.id}}" class="scroll-search-box-listitem-checkbox" type="checkbox"></li>
                </ul>
            </div>
        </section>
        <section class="search-section-scroll-with-searchbar">
            <input id="des" class="searchbar-scroll-element" type="text" ng-model="designSearchText">
            <div id="designSearchScrollBox" class="scroll-element">
                <ul class="scroll-search-box-list">
                    <li ng-repeat="design in searchPopulationData.designs"><span>{{design.name}}</span><input id="des{{design.id}}" class="scroll-search-box-listitem-checkbox" type="checkbox"></li>
                </ul>
            </div>
        </section>
        <section class="search-section-scroll-with-searchbar">
            <input id="cat" class="searchbar-scroll-element" type="text" ng-model="categorySearchText">
            <div id="categorySearchScrollBox" class="scroll-element">
                <ul class="scroll-search-box-list">
                    <li ng-repeat="category in searchPopulationData.categorys"><span>{{category.name}}</span><input id="cat{{category.id}}" class="scroll-search-box-listitem-checkbox" type="checkbox"></li>
                </ul>
            </div>
        </section>
    </section>
    <section class="color-search">
        <ul class="color-search-listbox">
            <li ng-repeat="color in searchPopulationData.colors">
                <div class="color-box" ng-style="{'background-color': color.value}">
                    <span class="color-search-name">{{color.name}}</span>
                    <span class="color-search-code">{{color.code}}</span>
                    <input id="cl{{color.id}}" class="color-search-checkbox" type="checkbox">
                </div>
            </li>
            <li>
                <div class="select-all-btn" ng-click="selectAllColors()">
                    Select All
                </div>
                <div class="deselect-all-btn" ng-click="deselectAllColors()">
                    Deselect All
                </div>
            </li>
        </ul>
        <!--<a href="" ng-click="selectAllColors()">select all</a>
        <a href="" ng-click="deselectAllColors()">deselect all</a>-->
    </section>
    <section class="quality-search">
        <ul class="quality-search-list">
            <li ng-repeat="manufacturingtype in searchPopulationData.manufacturingTypes"><span>{{manufacturingtype.name}}</span><input id="mt{{manufacturingtype.id}}" type="checkbox"></li>
            <li>
                <div class="select-all-btn" ng-click="selectAllManufacturingTypes()">
                    Select All
                </div>
            </li>
            <li>
                <div class="deselect-all-btn" ng-click="deselectAllManufacturingTypes()">
                    Deselect All
                </div>
            </li>
        </ul>
    </section>
    <section class="button-bar">
        <div ng-show="overviewType == 'overview'" id="csv-btn" ng-click="getCsvData()">
            <p>CSV</p>
        </div>
        <div ng-show="overviewType == 'invoice'" id="order-amount">
            <input type="text" ng-model="invoiceAmount.amount">
        </div>
        <div id="search-btn" ng-click="search()">
            <p>Search</p>
        </div>
    </section>
</form>