<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create size.</h1>
        <h1 ng-show="crudType == 'edit'">Edit size.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form>
            Size code: <input type="text" ng-model="editingSize.code"><br/>
            Size name: <input type="text" ng-model="editingSize.name"><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
        </form>
    </div>
</div>