<div class="content-place-holder">
    <h1>New worksheet.</h1>
    <div class="crud-edit-btn-bar">
        <div class="create-crud-btn" ng-click="cancelWorksheet()">
            + Cancel Worksheet
        </div>
        <div class="create-crud-btn" ng-click="saveWorksheet()">
            + Save Worksheet
        </div>
        <span>Estimated manufacturing time {{totalProductionTime}} in minutes.</span>
        <span class="errorMessage" ng-show="NoCutterSelected">You have no cutter selected.<br/></span>
        <span class="errorMessage" ng-show="NoItemsOnWorksheet">There are no production items on the worksheet.<br/></span>
    </div>

    <select ng-model="selectedCutter"
            ng-options="cutter.name for cutter in cutters">
    </select><br/>
    Note: <textarea ng-model="note"></textarea>
    <div class="gridStyle" ng-grid="worksheetItemsGrid"></div>
    <select ng-model="selectedQuality" ng-options="quality.name for quality in qualities">
    </select><br/>
    <select ng-model="selectedStock" ng-options="stock.name for stock in stocks">
    </select><br/>
    <input type="text" ng-model="amount"><br/>
    <input type="button" value="Add to worksheet list" ng-click="addToWorksheetList()">
    <span class="errorMessage" ng-show="NotEnoughProductsLeftError"><br/>You don't have enough products left to add.</span>
    <span class="errorMessage" ng-show="NoQualitySelectedError"><br/>You have not selected a quality.</span>
    <div class="gridStyle" ng-grid="worksheetProcessedItemsGrid"></div>
</div>