<div class="content-place-holder">
    <h1>Production queue items.</h1>
    <div class="crud-edit-btn-bar">
        <div class="refresh-crud-btn" ng-click="refresh()">
            <img src="assets/img/refresh.png">
        </div>
    </div>
    <div class="gridStyle" ng-grid="worksheetGrid"></div>
</div>