<div class="content-place-holder">
    <h1>Worksheet detail.</h1>
    <div class="crud-edit-btn-bar">
        <div class="create-crud-btn" ng-click="back()">
            back
        </div>
    </div>
    <h3>Cutter: {{worksheet.executor}}</h3>
    <p>note: {{worksheet.note}}</p>
    <div ng-show="worksheet.startDate == null" style="background-color: #ff0000; width: 200px;"><img style="height:28px;" src="assets/img/workingIcon.png" ng-click="packagedPacket(row.entity)"></div>
    <div ng-show="worksheet.startDate != null" style="background-color: #00ff00; width: 200px;"><img style="height:28px;" src="assets/img/workingIcon.png">{{worksheet.startDate.dayOfMonth}} {{worksheet.startDate.month}} {{worksheet.startDate.year}}</div><br/>
    <div ng-show="worksheet.finishedDate == null" style="background-color: #ff0000; width: 200px;"><img style="height:28px;" src="assets/img/completedIcon.png" ng-click="packagedPacket(row.entity)"></div>
    <div ng-show="worksheet.finishedDate != null" style="background-color: #00ff00; width: 200px;"><img style="height:28px;" src="assets/img/completedIcon.png">{{worksheet.finishedDate.dayOfMonth}} {{worksheet.finishedDate.month}} {{worksheet.finishedDate.year}}</div>
    <h1>Products to make.</h1>
    <div class="gridStyle" ng-grid="productsToMakeGrid"></div>
    <br/>
    <h1>Raw materials needed.</h1>
    <div class="gridStyle" ng-grid="rawMaterialsToUseGrid"></div>
</div>