<div class="content-place-holder">
    <h1>Worksheet queue.</h1>
    <h2 ng-show="overviewType == 'new'">New worksheets.</h2>
    <h2 ng-show="overviewType == 'started'">Started worksheets.</h2>
    <h2 ng-show="overviewType == 'finished'">Completed worksheets.</h2>
    <div class="crud-edit-btn-bar">
        <div class="refresh-crud-btn" ng-click="refresh()">
            <img src="assets/img/refresh.png">
        </div>
        <div ng-hide="overviewType == 'finished'" class="create-crud-btn" ng-click="showFinishedWorksheets()">
            finished worksheets
        </div>
        <div ng-show="overviewType == 'finished'" class="create-crud-btn-active">
            finished worksheets
        </div>
        <div ng-hide="overviewType == 'started'" class="create-crud-btn" ng-click="showStartedWorksheets()">
            started worksheets
        </div>
        <div ng-show="overviewType == 'started'" class="create-crud-btn-active">
            started worksheets
        </div>
        <div ng-hide="overviewType == 'new'" class="create-crud-btn" ng-click="showNewWorksheets()">
            new worksheets
        </div>
        <div ng-show="overviewType == 'new'" class="create-crud-btn-active">
            new worksheets
        </div>
    </div>
    <div ng-show="overviewType == 'new'" class="gridStyle" ng-grid="newWorksheetGrid"></div>
    <div ng-show="overviewType == 'started'" class="gridStyle" ng-grid="startedWorksheetGrid"></div>
    <div ng-show="overviewType == 'finished'" class="gridStyle" ng-grid="finishedWorksheetGrid"></div>
</div>