<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1>Stock correction raw material.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                + save stock order
            </div>
            <div class="create-crud-btn" ng-click="cancel()">
                cancel
            </div>
        </div>
        <span class="errorMessage" ng-show="ValueFormatError">Amount does not contain a proper format.<br/></span>
        <span class="errorMessage" ng-show="StockMissingError">You do not have a stock selected.<br/></span>
        <form>
            amount: <input type="text" ng-model="amount"><br/>
            <select ng-model="selectedStock" ng-options="stock.name for stock in stocks"></select>
        </form>
    </div>
</div>