<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create category.</h1>
        <h1 ng-show="crudType == 'edit'">Edit category.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div><div class="create-crud-btn" ng-click="cancel()">
                back
            </div>
        </div>
        <form ng-show="crudType == 'create'">
            Name: <input type="text" ng-model="editingCategory.name"><br/>
            base time: hours<input type="text" ng-model="baseHour">   minutes<input type="text" ng-model="baseMinute"><br/>
            note: <textarea ng-model="editingCategory.note"></textarea><br/>
            <br/>
            Select a different size:
            <select ng-model="selectedSize" ng-change="changeSizeSelection(selectedSize)"
                    ng-options="size.name for size in sizes">
            </select><br/>
            <div class="gridStyle" ng-grid="gridOptions"></div><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
            <span ng-show="MissingSizeError">Not all sizes have a min or max time.<br/></span>
            <span ng-show="NaNError">You have filled in some letters in a numbers only field.<br/></span>
            <span ng-show="InvalideBaseTimeError">You have filled in an invalid base time.<br/></span>
        </form>
        <form ng-show="crudType == 'edit'">
            Name: <input type="text" ng-model="editingCategory.name"><br/>
            base time: hours<input type="text" ng-model="baseHour">   minutes<input type="text" ng-model="baseMinute"><br/>
            note: <textarea ng-model="editingCategory.note.content"></textarea><br/>
            role: {{selectedRole.name}}<br/>
            Select a different size:
            <select ng-model="selectedSize" ng-change="changeSizeSelection(selectedSize)"
                    ng-options="size.name for size in sizes">
            </select><br/>
            <div class="gridStyle" ng-grid="gridOptions"></div><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
            <span ng-show="MissingSizeError">Not all sizes have a min or max time.<br/></span>
            <span ng-show="NaNError">You have filled in some letters in a numbers only field.<br/></span>
        </form>
    </div>
</div>