<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create customer.</h1>
        <h1 ng-show="crudType == 'edit'">Edit customer.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form>
            Name: <input type="text" ng-model="editingCustomer.name"><br/>
            Description: <input type="text" ng-model="editingCustomer.description"><br/>
            VAT percentage: <input type="text" ng-model="editingCustomer.baseVAT"><br/>
            Base discount percentage: <input type="text" ng-model="editingCustomer.baseDiscountPercentage"><br/>
            Base line discount percentage: <input type="text" ng-model="editingCustomer.baseLineDiscountPercentage"><br/>
            Packaging cost percentage: <input type="text" ng-model="editingCustomer.basePackingCostPercentage"><br/>
            <br/>
            Company name: <input type="text" ng-model="editingCustomer.companyName"><br/>
            Contact person: <input type="text" ng-model="editingCustomer.contactPerson"><br/>
            adress<br/>
            Street and number: <input type="text" ng-model="editingCustomer.adress"><br/>
            zip code: <input type="text" ng-model="editingCustomer.ZIP"> city: <input type="text" ng-model="editingCustomer.city"> country: <input type="text" ng-model="editingCustomer.country"><br/>
            Phone number: <input type="text" ng-model="editingCustomer.TEL"><br/>
            Email: <input type="text" ng-model="editingCustomer.email"><br/>
            VAT number: <input type="text" ng-model="editingCustomer.VATnumber"><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
            <span ng-show="NaNError">Some fields are expecting a number did not get a number.<br/></span>
        </form>
    </div>
</div>