<div class="content-place-holder">
    <h1 ng-show="crudType == 'create'">Create user.</h1>
    <h1 ng-show="crudType == 'edit'">Edit user.</h1>
    <div class="crud-edit-btn-bar">
        <div class="create-crud-btn" ng-click="save()">
            save
        </div>
    </div>
    <form ng-show="crudType == 'create'">
        Name: <input type="text" ng-model="editingUser.name"><br/>
        Username: <input type="text" ng-model="editingUser.username"><br/><br/>
        password: <input type="password" ng-model="editingUser.password"><br/>
        re-enter password: <input type="password" ng-model="reenterPassword"><br/>
        <br/>
        role: {{selectedRole.name}}<br/>
        Select a different location:
        <select ng-model="selectedRole"
                ng-options="role.name for role in roles">
        </select><br/>
        <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
        <span ng-show="RoleMissingError">You have not selected a role.<br/></span>
        <span ng-show="WrongPasswordError">Passwords do not match.<br/></span>
        <span ng-show="UsernameInUserError">Username already in use.<br/></span>
    </form>
    <form ng-show="crudType == 'edit'">
        Name: <input type="text" ng-model="editingUser.name"><br/>
        Username: {{editingUser.username}}<br/><br/>
        role: {{selectedRole.name}}<br/>
        Select a different location:
        <select ng-model="selectedRole"
                ng-options="role.name for role in roles">
        </select><br/>
        <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
        <span ng-show="RoleMissingError">You have not selected a role.<br/></span>
        <span ng-show="UsernameInUserError">Username already in use.<br/></span>
    </form>
</div>
