<div id="autologout-background">
</div>
<div id="autologout-textbox">
    <p>{{minutes}} minutes, {{seconds}} seconds.</p>
    <div id="autologout-menubar">
        <div id="autologout-reloginbtn" ng-click="reAuthenticate()">stay logged in</div>
        <div id="autologout-logoutbtn" ng-click="logout()">logout</div>
    </div>
</div>