#autologout-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    opacity: 0.8;
    z-index: 10;
}

#autologout-textbox{
    position: fixed;
    background-color: lightcoral;
    top: 100px;
    left: 40%;
    width: 250px;
    height: 100px;
    z-index: 11;
}

#autologout-textfield{
    width: 96%;
    height: 245px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    z-index: 12;
}

#autologout-menubar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: darkgrey;
}

#autologout-reloginbtn{
    margin: 10px;
    cursor: pointer;
    background-color: darkgreen;
    color: white;
    width: 100px;
    text-align: center;
    float: left;
}

#autologout-logoutbtn{
    margin: 10px;
    cursor: pointer;
    background-color: darkred;
    color: white;
    width: 100px;
    text-align: center;
    float: right;
}

.angular-with-newlines {
    white-space: pre;
}