<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create location.</h1>
        <h1 ng-show="crudType == 'edit'">Edit location.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form ng-show="crudType == 'edit'">
            Location: <input type="text" ng-model="editingLocation.description"><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.</span><br/>
        </form>
        <form ng-show="crudType == 'create'">
            Location: <input type="text" ng-model="editingLocation.data"><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.</span><br/>
        </form>
    </div>
</div>