<div class="content-place-holder">
    <p access="2,3,5">You have {{landingPageInfo.productionQueueItemsCount}} items left in the production queue.</p>
    <h1 access="2,3,5">Invoices</h1>
    <div access="2,3,5" class="gridStyle" ng-grid="invoiceDueGrid"></div>
    <br/>
    <h1 access="2,3,5">Payments</h1>
    <div access="2,3,5" class="gridStyle" ng-grid="paymentDueGrid"></div>
</div>