<div class="content-place-holder">
    <div class="crud-place-holder">
        <p ng-show="crudType == 'create'">Create supplier.</p>
        <p ng-show="crudType == 'edit'">Edit supplier.</p>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form ng-show="crudType == 'create'">
            Supplier code: <input type="text" ng-model="editingSupplier.supplierCode"><br/>
            Supplier name: <input type="text" ng-model="editingSupplier.name"><br/>
            Supplier contact information: <textarea ng-model="editingSupplier.contactnote"></textarea><br/>
            Supplier order information: <textarea ng-model="editingSupplier.suppliernote"></textarea><br/>
            Supplier general information: <textarea ng-model="editingSupplier.generalnote"></textarea><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.</span><br/>
        </form>
        <form ng-show="crudType == 'edit'">
            Supplier code: <input type="text" ng-model="editingSupplier.supplierCode"><br/>
            Supplier name: <input type="text" ng-model="editingSupplier.name"><br/>
            Supplier contact information: <textarea ng-model="editingSupplier.contactnote.content"></textarea><br/>
            Supplier order information: <textarea ng-model="editingSupplier.suppliernote.content"></textarea><br/>
            Supplier general information: <textarea ng-model="editingSupplier.generalnote.content"></textarea><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.</span><br/>
        </form>
    </div>
</div>