<div id="copypasterino-background">
</div>
<div id="copypasterino-textbox">
    <div id="copypasterino-textfield" class="angular-with-newlines" ng-click="selectText()">{{text}}</div>
    <div id="copypasterino-menubar">
        <div id="copypasterino-closebtn" ng-click="close()">close</div>
    </div>
</div>