#copypasterino-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    opacity: 0.8;
    z-index: 10;
}

#copypasterino-textbox{
    position: fixed;
    background-color: lightcoral;
    top: 0;
    left: 15%;
    width: 70%;
    max-width: 1280px;
    min-width: 450px;
    height: 300px;
    z-index: 11;
}

#copypasterino-textfield{
    width: 96%;
    height: 245px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    z-index: 12;
}

#copypasterino-menubar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: darkgrey;
}

#copypasterino-closebtn{
    margin: 10px;
    cursor: pointer;
    background-color: darkred;
    color: white;
    width: 100px;
    text-align: center;
    float: right;
}

.angular-with-newlines {
    white-space: pre;
}