#loading-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    opacity: 0.8;
    z-index: 10;
}

#loading-textbox{
    position: fixed;
    top: 100px;
    left: 35%;
    width: 480px;
    height: 240px;
    z-index: 11;
}