<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="assets/img/rotterLogo.jpg"/>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" ng-model="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" ng-model="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <span ng-show="logginIn">Logging in...</span>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="login()">Sign in</button>
        </form>
    </div>
</div>