/* If you plan on using affixed states, you need to include these in your CSS */
body.navbar-affixed-top { padding-top: 70px; }
body.navbar-affixed-bottom { padding-bottom: 70px; }

/* Bootstrap relies on HREF property of the A tag to be present to display the correct cursor but since we're using ng-click we need to have the following CSS */
.navbar a { cursor: pointer; }

/* For looks, following is not necessary, although I recommend including the statements for the search form */
.navbar {
    border-radius: 0;
    background-color: lightgrey;
    border-bottom: 1px solid #bbb;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
form[role=search], form[role=search]:before, form[role=search]:after {
    border: 0;
    box-shadow: none;
}
form[role=search] button, form[role=search] input {
    margin: 0;
    border-radius: 0px;
    border: 0;
}
form[role=search] input {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: auto;
}
form[role=search] button {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 0;
    border-left: 1px solid #ccc;
}
form[role=search] .form-group {
    border-radius: 4px;
    border: 1px solid #ccc;
    white-space: nowrap;
    box-shadow: 0 3px 6px rgba(0,0,0,.175);
}

@media (max-width: 767px){
    form[role=search] input {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    form[role=search] button {
        display: none;
    }
    .navbar-nav .open .dropdown-menu {
        border-radius: 0;
        box-shadow: inset 0 3px 6px rgba(0,0,0,.175), inset 0 -3px 6px rgba(0,0,0,.175);
    }
    .navbar-inverse .open .dropdown-menu {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }
}