<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create stock.</h1>
        <h1 ng-show="crudType == 'edit' && editingStock.raw">Edit raw stock.</h1>
        <h1 ng-show="crudType == 'edit' && !editingStock.raw">Edit finished stock.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form ng-show="crudType == 'create'">
            Stock name: <input type="text" ng-model="editingStock.name"><br/>
            Stock note: <textarea ng-model="editingStock.note"></textarea><br/>
            Is stock raw: <input type="checkbox" ng-model="editingStock.raw"><br/>
            location: {{selectedLocation.name}}
            <br/>
            <br/>
            Select a different location:
            <select ng-model="selectedLocation"
                    ng-options="location.description for location in locations">
            </select><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
            <span ng-show="SupplierMissingError">You have not selected a location.<br/></span>
        </form>
        <form ng-show="crudType == 'edit'">
            Stock name: <input type="text" ng-model="editingStock.name"><br/>
            Stock note: <textarea ng-model="editingStock.note.content"></textarea><br/>
            location: {{editingStock.location}}<br/>
            <!--<select ng-model="selectedLocation"
                    ng-options="location.description for location in locations">
            </select><br/>-->
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
            <span ng-show="SupplierMissingError">You have not selected a location.<br/></span>
        </form>
    </div>
</div>