<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create product type.</h1>
        <h1 ng-show="crudType == 'edit'">Edit product type.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form>
            Product code: <input type="text" ng-model="editingProductType.code"><br/>
            Product name: <input type="text" ng-model="editingProductType.name"><br/>
            Product description: <input type="text" ng-model="editingProductType.description"><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
        </form>
    </div>
</div>