<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create design.</h1>
        <h1 ng-show="crudType == 'edit'">Edit design.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form>
            design number: <input type="text" ng-model="editingDesign.designCode"><br/>
            design name: <input type="text" ng-model="editingDesign.name"><br/>
            design description: <input type="text" ng-model="editingDesign.description"><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.</span><br/>
        </form>
    </div>
    </div>