<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create role.</h1>
        <h1 ng-show="crudType == 'edit'">Edit role.</h1>
        <form ng-show="crudType == 'create'">
            Role: <input type="text" ng-model="editingRole.data"><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.</span><br/>
            <input type="button" value="save" ng-click="save()">
        </form>
        <form ng-show="crudType == 'edit'">
            Role: <input type="text" ng-model="editingRole.name"><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.</span><br/>
            <input type="button" value="save" ng-click="save()">
        </form>
    </div>
</div>