<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create color.</h1>
        <h1 ng-show="crudType == 'edit'">Edit color.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form>
            color code: <input type="text" ng-model="editingColor.code"><br/>
            color code: <input type="text" ng-model="editingColor.name"><br/>
            color value: <input type="text" ng-model="editingColor.value">(hexadecimal value that is a color).<br/>
            <span ng-show="colorValueFormatError">Color code does not have the wright format.</span><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.</span><br/>
        </form>
    </div>
</div>