<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1>Create finished product.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                Create Finished Product
            </div>
        </div>
        <span class="errorMessage" ng-show="NoProductTypeSelectedError">You don't have a product type selected.<br/></span>
        <span class="errorMessage" ng-show="NoSizeSelectedError">You don't have a size selected.<br/></span>
        <span class="errorMessage" ng-show="NoSupplierSelectedError">You don't have a supplier selected.<br/></span>
        <span class="errorMessage" ng-show="NoDesignSelectedError">You don't have a design selected.<br/></span>
        <span class="errorMessage" ng-show="NoCategorySelectedError">You don't have a category selected.<br/></span>
        <span class="errorMessage" ng-show="NoManufacturingTypeSelectedError">You don't have a manufacturing type selected.<br/></span>
        <span class="errorMessage" ng-show="NoStockAddedError">You don't have a stock added to this product.<br/></span>
        <span class="errorMessage" ng-show="AmountOfColorsAndDescriptionsMismatchError">The amount of selected colors and the amount of colors in the list of descriptions do not match. We recommend refreshing the page and starting over.<br/></span>
        <span class="errorMessage" ng-show="NoColorsSelectedError">You have no colors selected.<br/></span>
        <span class="errorMessage" ng-show="MissingDescriptionError">You don't have at least one description for all selected colors.<br/></span>
        <span class="errorMessage" ng-show="MissingProductInforError">You don't have all the product information filled in.<br/></span>
        <span class="errorMessage" ng-show="ProductInfoFormatError">Some of the product information is in the wrong format.(min time, base time or max time)<br/></span>
        <span class="errorMessage" ng-show="NotAllColorsHaveAPriceError">Not all colors have a value.<br/></span>
        <form>
            Product type: <select ng-model="selectedProductType" ng-change="changeDescriptions()" ng-options="productType.name for productType in availibleProductTypes"></select><br/>
            Size: <select ng-model="selectedSize" ng-change="calculateSuggestedCategory()" ng-options="size.name for size in availibleSizes"></select><br/>
            Supplier: <select ng-model="selectedSupplier" ng-options="supplier.name for supplier in availibleSuppliers"></select><br/>
            manufacturing type: <select ng-model="selectedManufacturingType" ng-options="manufacturingType.name for manufacturingType in availibleManufacturingTypes"></select><br/>
            design: <select ng-model="selectedDesign" ng-change="changeDescriptions()" ng-options="design.name for design in availibleDesigns"></select><br/>
            category: <select ng-model="selectedCategory" ng-options="category.name for category in availibleCategories"></select><br/>
            <span ng-show="haveAdviceedCategory">suggested category: {{advicedCategory.name}} with base time {{advicedCategory.baseTime}}minutes.     use suggested category<input id="useSuggestedCategory" type="checkbox" ng-model="useSuggestedCategory"><br/></span>
            <span ng-hide="haveAdviceedCategory">We can not give you a suggested category.<br/></span>
            name: <input type="text" ng-model="productInfo.name"><br>
            min time: <input type="text" ng-model="productInfo.minTime"><br/>
            base time: <input type="text" ng-change="calculateSuggestedCategory()" ng-model="productInfo.baseTime"><br/>
            max time: <input type="text" ng-model="productInfo.maxTime"><br/>

            Colors:
            <section class="color-search">
                <ul class="color-search-listbox">
                    <li ng-repeat="color in availibleColors">
                        <div class="color-box" ng-style="{'background-color': color.value}">
                            <span class="color-search-name">{{color.name}}</span>
                            <span class="color-search-code">{{color.code}}</span>
                            <input id="cl{{color.id}}" class="color-search-checkbox" ng-click="updateColor($event, color)" type="checkbox">
                        </div>
                    </li>
                    <li>
                        <div class="select-all-btn" ng-click="selectAllColors()">
                            Select All
                        </div>
                        <div class="deselect-all-btn" ng-click="deselectAllColors()">
                            Deselect All
                        </div>
                    </li>
                </ul>
            </section><br/>
            <div class="gridStyle" ng-grid="selectedColorGrid"></div><br/>
            <section ng-show="showDescriptionInput">
                Description: <br/>
                language code: <input type="text" ng-model="description.languageCode"><br/>
                language name: <input type="text" ng-model="description.languageName"><br/>
                description: <input type="text" ng-model="description.description"><br/>
                <input type="button"  value="Add this description to the product" ng-click="addDescription()"><br/>
                <span class="errorMessage" ng-show="NoColorSelectedError">You don't have a color selected to add the description to.<br/></span>
                <span class="errorMessage" ng-show="LanguageCodeFormatError">The language code does not match the expected format. example 'ge' for German.<br/></span>
                <span class="errorMessage" ng-show="MissingDescriptionValuesError">The language name or the description is missing.<br/></span>
                <span class="errorMessage" ng-show="DescriptionAlreadyExistsError">You already have a description for this language.<br/></span>
                <div class="gridStyle" ng-grid="descriptionsGrid"></div>
            </section>
            <br/>

            <select ng-model="selectedStock" ng-change="changeStockSelection(selectedStock)" ng-options="stock.name for stock in availibleStocks"></select><br/>
            <div class="gridStyle" ng-grid="stockGrid"></div>
            <br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
        </form>
    </div>
</div>