<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'detail'">Finished product detail. {{finishedProduct.productCode}}</h1>
        <h1 ng-show="crudType == 'edit'">Edit finished product.</h1>
        <div class="crud-edit-btn-bar">
            <div ng-hide="crudType == 'addStock' || crudType == 'edit'" class="create-crud-btn" ng-click="startEdit()">
                edit product
            </div>
            <div ng-hide="crudType == 'addStock' || crudType == 'edit'" class="create-crud-btn" ng-click="makeStockCorrection()">
                perform stock correction
            </div>
            <div ng-hide="crudType == 'addStock' || crudType == 'edit'" class="create-crud-btn" ng-click="addStockOrder()">
                add stock order
            </div>
            <div ng-hide="crudType == 'addStock' || crudType == 'edit'" class="create-crud-btn" ng-click="addStockLocation()">
                add a new stock location
            </div>
            <div ng-show="crudType == 'addStock'" class="create-crud-btn" ng-click="cancelAddingStockLocation()">
                cancel
            </div>
            <div ng-show="crudType == 'edit'" class="create-crud-btn" ng-click="save()">
                save
            </div>
            <div ng-show="crudType == 'edit'" class="create-crud-btn" ng-click="cancelEdit()">
                cancel edit
            </div>
            <span class="errorMessage" ng-show="ValueMissingError">No all fields are filled in.<br/></span>
            <span class="errorMessage" ng-show="isNaNError">Not all fields contain a value in the correct format.<br/></span>
            <span class="errorMessage" ng-show="StockMissingError">You do not have a stock location selected.<br/></span>
        </div>
        <div ng-show="crudType == 'detail'">
            <p>product: {{finishedProduct.productTypeName}} in {{finishedProduct.color}} size {{finishedProduct.sizeCode}} with design {{finishedProduct.designName}}</p>
            <p>manufacturing type {{finishedProduct.manufacturingTypeName}}</p>
            <p>name: {{finishedProduct.name}}</p>
            <p>{{finishedProduct.stockAmount}} items in stock</p>
            <p>{{finishedProduct.reservedStock}} items reserved</p>
            <p>Product is in category {{finishedProduct.categoryName}} base time {{finishedProduct.baseTime}} minutes</p>
            <p>price {{finishedProduct.price}}€</p>
        </div>

        <section ng-show="crudType == 'edit'">
            <p>product: {{editingFinishedProduct.productTypeName}} in {{editingFinishedProduct.color}} size {{editingFinishedProduct.sizeCode}} with design {{editingFinishedProduct.designName}}</p>
            <p>manufacturing type {{editingFinishedProduct.manufacturingTypeName}}</p>
            <p>name: <input type="text" ng-model="editingFinishedProduct.name"></p>
            <p>{{editingFinishedProduct.stockAmount}} items in stock</p>
            <p>{{editingFinishedProduct.reservedStock}} items reserved</p>
            <p>Product is in category {{editingFinishedProduct.categoryName}}</p>
            <p>min time <input type="text" ng-model="editingFinishedProduct.minTime"> minutes</p>
            <p>base time <input type="text" ng-model="editingFinishedProduct.baseTime"> minutes</p>
            <p>max time <input type="text" ng-model="editingFinishedProduct.maxTime"> minutes</p>
            <p>price <input type="text" ng-model="editingFinishedProduct.price">€</p>
        </section>

        <section ng-show="crudType == 'addStock'">
            <select ng-model="selectedStock" ng-options="stock.name for stock in stocks"></select><input type="button" value="add this stock option to this product" ng-click="saveNewStockLocation()">
        </section>
    </div>
</div>