<div class="content-place-holder">
    <div class="crud-edit-btn-bar">
        <div ng-show="overviewType == 'invoice'">{{invoiceDetailInfo}}</div>
        <div ng-show="overviewType == 'invoice'" class="create-crud-btn" ng-click="goToInvoice()">
            to invoice
        </div>
    </div>

    <finished-product-search></finished-product-search>
    <div  ng-show="overviewType == 'overview'" class="gridStyle" ng-grid="finishedProductGrid"></div>
    <div  ng-show="overviewType == 'invoice'" class="gridStyle" ng-grid="invoiceGrid"></div>
</div>