<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create manufacturing type.</h1>
        <h1 ng-show="crudType == 'edit'">Edit manufacturing type.</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form>
            Manufacturing type code: <input type="text" ng-model="editingManufacturingType.code"><br/>
            Manufacturing type name: <input type="text" ng-model="editingManufacturingType.name"><br/>
            Manufacturing type description: <input type="text" ng-model="editingManufacturingType.description"><br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
        </form>
    </div>
</div>