<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="!fullEditingInvoice.confirmed">Edit offer.</h1>
        <h1 ng-show="!fullEditingInvoice.inProduction && fullEditingInvoice.confirmed">Edit confirmation.</h1>
        <div class="crud-edit-btn-bar">
            <div ng-show="crudType == 'create'" class="create-crud-btn" ng-click="cancelEdit()">
                Cancel
            </div>
            <div ng-show="crudType == 'create'" class="create-crud-btn" ng-click="save()">
                Save invoice
            </div>
            <span class="errorMessage" ng-show="NoDueDateSelectedError">You don't have a delivery date selected.<br/></span>
            <span class="errorMessage" ng-show="NoPaymentDueDateSelectedError">You don't have a payment due date selected.<br/></span>
            <span class="errorMessage" ng-show="NoCustomerSelectedError">You don't have a customer selected.<br/></span>
            <span class="errorMessage" ng-show="WrongFormatError">Some values have the wrong format. Words in stead of numbers for example.<br/></span>
        </div>
        <form class="select-customer-form">
            Customer info:<br/>
            name: {{customer.name}}<br/>
            company: {{customer.companyName}}<br/>
            vat: {{customer.baseVAT}}<br/>
            discount: {{customer.baseDiscountPercentage}}<br/>
            line discount: {{customer.baseLineDiscountPercentage}}<br/>
            packing cost: {{customer.basePackingCostPercentage}}<br/>
            company: {{customer.companyName}}<br/>
            adress: {{customer.adress}}<br/>
            {{customer.ZIP}} {{customer.city}} {{customer.country}}<br/>
            phone: {{customer.tel}}<br/>
            email: {{customer.email}}<br/>
            VAT number: {{customer.vatnumber}}<br/>
            note: <textarea ng-model="invoiceInformation.note"></textarea>
        </form>
        <form name="invoiceForm" class="invoice-information-form">
            Invoice nr: {{invoiceNr}}<br/>
            Date: {{creationDate}}<br/>
            Contact person: {{creatingUser}}<br/>
            Delivery date: <input id="deliverDateField" type="Text" ng-change="updatePaymentDueDate()" ng-model="extraInvoiceInfo.dueDate" name="duedate" disabled>
            <a href="javascript:show_calendar('document.invoiceForm.duedate', document.invoiceForm.duedate.value);"><img src="../../../assets/img/cal.gif" width="16" height="16" border="0" alt="Click Here to Pick up the timestamp"></a><br/>
            Amount upfront[%]: <input type="text" ng-model="invoiceInformation.upfrontpercentage"><br/>
            Payment due: <input id="paymentDueDate" type="Text" name="paymentDuedate" ng-model="extraInvoiceInfo.paymentDueDate" disabled>
            <a href="javascript:show_calendar('document.invoiceForm.paymentDuedate', document.invoiceForm.paymentDuedate.value);"><img src="../../../assets/img/cal.gif" width="16" height="16" border="0" alt="Click Here to Pick up the timestamp"></a><br/>
            <!--Discount[%]: <input type="text" ng-model="invoiceInformation.discountpercentage"><br/>-->
            <!--Inline discount[%]: <input type="text" ng-model="extraInvoiceInfo.inlineDiscount"><br/>-->
            <!--Packing cost[%]: <input type="text" ng-model="invoiceInformation.packingCostPercentage"><br/>-->
            <!--VAT[%]: <input type="text" ng-model="invoiceInformation.VATpercentage"><br/>-->
            Currency: <input type="text" ng-model="invoiceInformation.valuta"><br/>
            Currency Conversion rate Euro to {{invoiceInformation.valuta}}: <input type="text" ng-change="invoiceVariablesChanged()" ng-model="invoiceInformation.ValutaFactor"><br/>
            Shipping methode: <input type="text" ng-model="invoiceInformation.shippingMethod"><br/>
        </form>
        <div class="gridStyle" ng-grid="invoiceProductsGrid"></div>
        <form class="invoice-endline-form">
            product total: {{extraInvoiceInfo.total}}<br/>
            <input type="text" ng-change="invoiceVariablesChanged()" ng-model="invoiceInformation.discountpercentage">% discount: {{invoiceInformation.discount}}<br/>
            netto 1: {{extraInvoiceInfo.netto1}}<br/>
            <input type="text" ng-change="invoiceVariablesChanged()" ng-model="invoiceInformation.packingCostPercentage">% packaging: {{invoiceInformation.packingCost}}<br/>
            postage/warrenty: <input type="text" ng-change="invoiceVariablesChanged()" ng-model="invoiceInformation.shippingCost"><br/>
            netto 2: {{extraInvoiceInfo.netto2}}<br/>
            <input type="text" ng-change="invoiceVariablesChanged()" ng-model="invoiceInformation.VATpercentage">% VAT: {{invoiceInformation.VAT}}<br/>
            total: {{invoiceInformation.localPrice}}<br/>
            <span ng-show="invoiceInformation.ValutaFactor != 1">total in {{invoiceInformation.valuta}}: {{invoiceInformation.price}}</span>
        </form>
    </div>
</div>