<div class="content-place-holder">
    <h1>Invoice {{invoice.invoicenumber}}.</h1>
    <section ng-hide="isShowingInproductionItems">
        <h1>Products on invoice</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="showItemsInProduction()">
                show in production
            </div>
            <div ng-hide="isEditingPayment || isAddingPayment || isCreatingNewPackage" class="create-crud-btn" ng-click="cancel()">
                back
            </div>
        </div>
        <div ng-hide="isEditingPayment" class="gridStyle" ng-grid="invoiceProductsGrid"></div>
    </section>
    <section ng-show="isShowingInproductionItems">
        <h1>Products in production</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="showInvoiceOverview()">
                show invoice
            </div>
            <div ng-hide="isEditingPayment || isAddingPayment" class="create-crud-btn" ng-click="cancel()">
                back
            </div>
        </div>
        <div ng-hide="isEditingPayment" class="gridStyle" ng-grid="inProductionGrid"></div>
    </section>

    <!--paymennts-->
    <section ng-hide="isEditingPayment || isAddingPayment || isCreatingNewPackage">
        <h1>Payments</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="addPayment()">
                +add payment
            </div>
        </div>
        <div class="gridStyle" ng-grid="paymentsGrid"></div><br/>
        Total of the invoice: {{invoice.localPrice}}<br/>
        Total upfront({{invoice.upfrontpercentage}}%): <span ng-show="invoiceInformation.totalPayed < invoiceInformation.totalUpfront" style="background-color: #ff9900">{{invoiceInformation.totalUpfront}}</span><span ng-show="invoiceInformation.totalPayed >= invoiceInformation.totalUpfront" style="background-color: #009900">{{invoiceInformation.totalUpfront}}</span><br/>
        Total Payed: <span ng-show="invoiceInformation.totalPayed < invoice.localPrice" style="background-color: #ff9900">{{invoiceInformation.totalPayed}}</span><span ng-show="invoiceInformation.totalPayed >= invoice.localPrice" style="background-color: #009900">{{invoiceInformation.totalPayed}}</span><br/>
        Left to pay: {{invoiceInformation.paymentLeft}}
    </section>

    <section ng-show="isAddingPayment">
        <h1>Creating new payment</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="cancel()">
                cancel
            </div>
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form>
            Amount: <input type="text" ng-model="addingPayment.amount">
        </form>
    </section>

    <section ng-show="isEditingPayment">
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="cancel()">
                cancel
            </div>
            <div class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <form>
            Amount: <input type="text" ng-model="editingPayment.amount">
        </form>
    </section>

    <!--packing-->
    <section ng-hide="isEditingPayment || isAddingPayment || isCreatingNewPackage">
        <h1>Packages</h1>
        <span ng-show="invoiceInformation.totalPayed < invoiceInformation.totalUpfront" style="background-color: #ff9900">You can not send the packages yet. You have not recieved the total upfront payment.</span><br/>
        <span ng-show="invoiceInformation.itemsLeftToPack > 0" style="background-color: #ff9900">You have still {{invoiceInformation.itemsLeftToPack}} items to pack.</span>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="addPackage()">
                +add new package
            </div>
        </div>
        <div class="gridStyle" ng-grid="packagesGrid"></div>
    </section>

    <!--creating packages-->
    <section ng-show="isCreatingNewPackage">
        <h1>Creating new Package</h1>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="savePackage()">
                save package
            </div>
            <div class="create-crud-btn" ng-click="cancelPackage()">
                cancel package
            </div>
        </div>
        <div class="gridStyle" ng-grid="leftForPackingGrid"></div>
        <form>
            amount: <input type="text" ng-model="newPackageLine.amount"><input type="button" value="add to package" ng-click="addToPackage()">
        </form>
        <span class="errorMessage" ng-show="NoProductSelectedError">You have not selected a product to add.<br/></span>
        <span class="errorMessage" ng-show="AmountFormatError">This is not a correct amount.<br/></span>
        <span class="errorMessage" ng-show="NotThisManyAmountLeftError">There are not enough glasses left to package.<br/></span>
        <div class="gridStyle" ng-grid="newPackageGrid"></div>
    </section>
</div>
