<div class="content-place-holder">
    <h1>Invoice {{invoice.invoicenumber}}</h1>
    <section>
        <div class="crud-edit-btn-bar">
            <div class="create-crud-btn" ng-click="back()">
                back
            </div>
        </div>
    </section>
    <section>
        <h1>Customer</h1>
        Company name: {{customer.companyName}}<br/>
        Contact person: {{customer.name}}<br/>
        Adress: {{customer.adress}}<br/>
        {{customer.zip}} {{customer.city}} {{customer.country}}<br/>
        Phone number: {{customer.tel}}<br/>
        email: {{customer.email}}<br/>
        VAT number: {{customer.vatnumber}}<br/>
        <input type="button" value="Create customer CSV" ng-click="createCustomerCsv()">
    </section>
    <section>
        <h1>Bestellung</h1>
        Invoice Nr.: {{invoice.invoicenumber}}<br/>
        Datum: {{invoice.lastModifiedDate.dayOfMonth}} {{invoice.lastModifiedDate.month}} {{invoice.lastModifiedDate.year}}<br/>
        Ansprechpartner: {{invoice.creator}}<br/>
        Delivery date: {{invoice.sendDate.dayOfMonth}} {{invoice.sendDate.month}} {{invoice.sendDate.year}}<br/>
        <input type="button" value="Create manufacturer CSV" ng-click="createManufacturerCsv()">
    </section>
    <div class="gridStyle" ng-grid="invoiceLineGrid"></div>
    <input type="button" value="Create invoice products CSV" ng-click="createProductLinesCsv()">
    <div>Note: {{invoice.note.content}}</div>
</div>
