<div class="content-place-holder">
    <h1 ng-show="overviewType == 'offers'">Offers.</h1>
    <h1 ng-show="overviewType == 'confirmed'">Confirmations.</h1>
    <h1 ng-show="overviewType == 'inProduction'">In production.</h1>
    <h1 ng-show="overviewType == 'sent'">Send.</h1>
    <h1 ng-show="overviewType == 'completed'">Completed.</h1>
    <h1 ng-show="overviewType == 'detail'">Invoice detail.</h1>
    <div class="crud-edit-btn-bar">
        <div class="refresh-crud-btn" ng-click="refresh()">
            <img src="assets/img/refresh.png">
        </div>
        <div ng-show="overviewType == 'detail'" class="create-crud-btn" ng-click="closeOrderDetail()">
            back
        </div>
        <div ng-hide="overviewType == 'completed' || overviewType == 'detail'" class="create-crud-btn" ng-click="openCompletedInvoice()">
            Completed invoices
        </div>
        <div ng-show="overviewType == 'completed' || overviewType == 'detail'" class="create-crud-btn-active">
            Completed invoices
        </div>
        <div ng-hide="overviewType == 'sent' || overviewType == 'detail'" class="create-crud-btn" ng-click="openSendInvoice()">
            Send invoices
        </div>
        <div ng-show="overviewType == 'sent' || overviewType == 'detail'" class="create-crud-btn-active">
            Send invoices
        </div>
        <div ng-hide="overviewType == 'inProduction' || overviewType == 'detail'" class="create-crud-btn" ng-click="openInProductionInvoice()">
            In production
        </div>
        <div ng-show="overviewType == 'inProduction' || overviewType == 'detail'" class="create-crud-btn-active">
            In production
        </div>
        <div ng-hide="overviewType == 'confirmed' || overviewType == 'detail'" class="create-crud-btn" ng-click="openConfirmedInvoice()">
            Confirmations
        </div>
        <div ng-show="overviewType == 'confirmed' || overviewType == 'detail'" class="create-crud-btn-active">
            Confirmations
        </div>
        <div ng-hide="overviewType == 'offers' || overviewType == 'detail'" class="create-crud-btn" ng-click="openOfferInvoice()">
            Offers
        </div>
        <div ng-show="overviewType == 'offers' || overviewType == 'detail'" class="create-crud-btn-active">
            Offers
        </div>
    </div>
    <!--<div class="crud-edit-btn-bar">
        <div class="create-crud-btn" ng-click="cancel()">
            cancel
        </div>
        <div class="create-crud-btn" ng-show="deliveryReadyToCommit" ng-click="commitDelivery()">
            commit delivery
        </div>
    </div>-->
    <!--<div class="crud-edit-btn-bar" ng-show="overviewType == 'notsent'">
        <form>
            <input type="button" value="cancel" ng-click="cancel()">
            year<input type="text" ng-model="confirmationDate.year">
            month<input type="text" ng-model="confirmationDate.month">
            day<input type="text" ng-model="confirmationDate.day">
            <input type="button" value="Confirm" ng-click="createConfirmation()">
            <span ng-show="InvalidDateFormatError"><br/>You have not given the right input in the date fields.</span>
            <span ng-show="WrongDateError"><br/>It is not possible to put in this date.</span>
        </form>
    </div>-->
   <!-- <section ng-show="overviewType == 'sent'">
        <div class="crud-edit-btn-bar">
            <div class="gridStyle" ng-grid="sendInvoicesGrid"></div>
            <form>
                <input type="button" value="cancel" ng-click="cancel()">
                <span>Selected item: {{selectedProcessingDeliveryItem[0].rawMaterial.productCode}} you have {{selectedProcessingDeliveryItem[0].amount}}.</span><br/><br/>
                Stock<select ng-model="selectedStock"
                             ng-options="stock.stockname for stock in selectedProcessingDeliveryItemAvailibleStocks">
            </select>
                amount<input type="text" ng-model="amount"><br/>
                <label ng-repeat="quality in deliveryProcessInformation.qualities.qualities">
                    {{quality.name}}<input type="radio" name="qualityRadioGroup" ng-model="$parent.selectedQuality" ng-value="quality"/>
                </label>
                <input type="button" value="Add" ng-click="processSelectedMaterial()">
                <span ng-show="InvalidDateFormatError"><br/>You have not given the right input in the date fields.</span>
                <span ng-show="WrongDateError"><br/>It is not possible to put in this date.</span>
                <span ng-show="NoStockSelectedError"><br/>You have not selected a stock location selected for this item.</span>
                <span ng-show="NoProcessingItemSelectedError"><br/>You have to select an item to process first.</span>
                <span ng-show="IncorrectProcessingItemAmountError"><br/>You did not fill in a correct amount.</span>
                <span ng-show="NoQualitySelectedError"><br/>You have not selected a quality selected for this item.</span>
            </form>
            <div class="gridStyle" ng-grid="processedDeliveredItems"></div>-->
            <!--<div class="gridStyle" ng-grid="remainingDeliveredItems"></div>-->
        <!--</div>
        <div class="gridStyle" ng-grid="sendInvoicesGrid"></div>
    </section>-->
    <div ng-show="overviewType == 'offers'" class="gridStyle" ng-grid="offerGrid"></div>
    <div ng-show="overviewType == 'confirmed'" class="gridStyle" ng-grid="confirmedGrid"></div>
    <div ng-show="overviewType == 'inProduction'" class="gridStyle" ng-grid="inProductionGrid"></div>
    <div ng-show="overviewType == 'sent'" class="gridStyle" ng-grid="sendGrid"></div>
    <div ng-show="overviewType == 'completed'" class="gridStyle" ng-grid="completedGrid"></div>
    <!--<div ng-show="overviewType == 'detail'" class="gridStyle" ng-grid="invoiceDetailGrid"></div>-->
    <!--<span ng-show="overviewType == 'detail' || overviewType == 'detailWithQuality'">Order created {{oderDetailInfo.creationDate.dayOfMonth}} {{oderDetailInfo.creationDate.month}} {{oderDetailInfo.creationDate.year}}<br/></span>
    <span ng-show="overviewType == 'detail' || overviewType == 'detailWithQuality'">Total amount of glasses: {{oderDetailInfo.totalAmount}} for {{oderDetailInfo.totalItems}}<br/></span>
    <span ng-show="overviewType == 'detail' || overviewType == 'detailWithQuality'">Total cost of the order: {{oderDetailInfo.totalCost}} Euro</span>-->
</div>
