.color-search-listbox{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 10px;
}

.color-search-listbox li{
    display: inline-block;
}

.color-box{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: green;
    margin-right: 10px;
}

.color-box span{
    font-weight: 600;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.color-search-name{
    position: absolute;
    left: 0;
    top: 0;
}

.color-search-code{
    position: absolute;
    left: 0;
    bottom: 0;
}

.color-search-checkbox {
    position: absolute;
    right: 0;
    bottom: 0;
}