<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'create'">Create raw material.</h1>
        <h1 ng-show="crudType == 'edit'">Edit raw material.</h1>
        <form>
            Product type: <select ng-model="selectedProductType" ng-options="productType.name for productType in productTypes"></select><br/>
            Size: <select ng-model="selectedSize" ng-options="size.name for size in sizes"></select><br/>
            Supplier: <select ng-model="selectedSupplier" ng-options="supplier.name for supplier in suppliers"></select><br/>
            Series: <select ng-model="selectedSeries" ng-options="serie.name for serie in series"></select><br/>
            Description: <textarea ng-model="editingRawMaterial.description"></textarea><br/>
            Colors:
            <section class="color-search">
                <ul class="color-search-listbox">
                    <li ng-repeat="color in colors">
                        <div class="color-box" ng-style="{'background-color': color.value}">
                            <span class="color-search-name">{{color.name}}</span>
                            <span class="color-search-code">{{color.code}}</span>
                            <input id="cl{{color.id}}" class="color-search-checkbox" ng-click="updateColor($event, color)" type="checkbox">
                        </div>
                    </li>
                    <li>
                        <div class="select-all-btn" ng-click="selectAllColors()">
                            Select All
                        </div>
                        <div class="deselect-all-btn" ng-click="deselectAllColors()">
                            Deselect All
                        </div>
                    </li>
                </ul>
            </section><br/>
            <div class="gridStyle" ng-grid="colorGrid"></div><br/>
            <br/>

            <select ng-model="selectedStock" ng-change="changeStockSelection(selectedStock)" ng-options="stock.name for stock in stocks"></select><br/>
            <div class="gridStyle" ng-grid="stockGrid"></div>


            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
            <input type="button" value="save" ng-click="save()">
        </form>
    </div>
</div>