<div class="content-place-holder">
    <div class="crud-place-holder">
        <h1 ng-show="crudType == 'detail'">Raw material.</h1>
        <h1 ng-show="crudType == 'edit'">Edit raw material.</h1>
        <div class="crud-edit-btn-bar">
            <div ng-hide="crudType == 'addStock' || crudType == 'edit'" class="create-crud-btn" ng-click="edit()">
                edit
            </div>
            <div ng-hide="crudType == 'addStock' || crudType == 'edit'" class="create-crud-btn" ng-click="makeStockCorrection()">
                perform stock correction
            </div>
            <div ng-hide="crudType == 'addStock' || crudType == 'edit'" class="create-crud-btn" ng-click="addStockLocation()">
                add a new stock location
            </div>
            <div ng-show="crudType == 'addStock'" class="create-crud-btn" ng-click="cancel()">
                cancel
            </div>
            <div ng-show="crudType == 'edit'" class="create-crud-btn" ng-click="cancelEdit()">
                cancel
            </div>
            <div ng-show="crudType == 'edit'" class="create-crud-btn" ng-click="save()">
                save
            </div>
        </div>
        <div ng-show="crudType == 'detail'">
            <p>product: {{editingRawMaterial.productCode}} {{editingRawMaterial.productType}} size:{{editingRawMaterial.size}} color:{{editingRawMaterial.color}}</p>
            <p>from {{editingRawMaterial.supplier}} in series {{editingRawMaterial.series}} with supplier code {{editingRawMaterial.rawmaterialcode}}</p>
            <p>{{editingRawMaterial.description}}</p>
            <p>{{editingRawMaterial.amountInStock}} items in stock with quality {{editingRawMaterial.quality}}</p>
            <p>minimum amount in stock {{editingRawMaterial.minimumAmountInStock}}</p>
            <p>minimum order quantity {{editingRawMaterial.minimumorderQuantity}}</p>
            <p>price {{editingRawMaterial.price}}</p>

            <!--<input type="button" value="edit" ng-click="edit()">-->
        </div>



        <form ng-show="crudType == 'edit'">
            Product type: {{editingRawMaterial.productType}}<br/>
            Size: {{editingRawMaterial.size}}<br/>
            Supplier: {{editingRawMaterial.supplier}}<br/>
            Series: {{editingRawMaterial.series}}<br/>
            Description: <textarea ng-model="editingRawMaterial.description"></textarea><br/>
            Color:{{editingRawMaterial.color}}<br/>
            Quality {{editingRawMaterial.quality}}<br/>
            supplier code: {{editingRawMaterial.rawmaterialcode}}<br/>
            price: <input type="text" ng-model="editingRawMaterial.price"><br/>
            minimum order quantity: <input type="text" ng-model="editingRawMaterial.minimumorderQuantity"><br/>
            base stock quantity: <input type="text" ng-model="editingRawMaterial.minimumAmountInStock"><br/>
            note: <textarea ng-model="editingRawMaterial.note"></textarea><br/>
            <br/>
            <span ng-show="ValueMissingError">Not all fields contain a value.<br/></span>
            <span ng-show="isNaNError">Some fields are not containing a number where a number is expected.<br/></span>
            <!--<input type="button" value="save" ng-click="save()">
            <input type="button" value="cancel" ng-click="cancelEdit()">-->
        </form>

        <section ng-show="crudType == 'addStock'">
            <select ng-model="selectedStock" ng-options="stock.name for stock in stocks"></select><input type="button" value="add this stock option to this product" ng-click="saveNewStockLocation()">
        </section>
    </div>
</div>