.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 300px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.green {
    background-color: green;
    color: white;
}

.content-place-holder{

}

.crud-edit-btn-bar {
    height: 60px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.create-crud-btn{
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: right;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2CA5E0;
    cursor: pointer;
}