<div class="content-place-holder">
    <div ng-show="overviewType == 'order'" class="crud-edit-btn-bar">
        <div class="crud-edit-btn-bar">
            <div>{{orderDetailInfo}}Euro</div>
            <div class="create-crud-btn" ng-click="openOrderCart()">
                to order cart
            </div>
        </div>
    </div>

    <raw-material-search ng-controller="rawMaterialSearchCtrl"></raw-material-search>
    <div  ng-show="overviewType == 'overview'" class="gridStyle" ng-grid="gridOptions"></div>
    <div  ng-show="overviewType == 'order'" class="gridStyle" ng-grid="gridOrderOptions"></div>
</div>
<!--<div class="angular-with-newlines">{{csvData}}</div>-->
