.crud-edit-btn-bar {
    height: 60px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.create-crud-btn{
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: right;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2CA5E0;
    cursor: pointer;
}

.create-crud-btn-active{
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: right;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #24E779;
    cursor: pointer;
}

.refresh-crud-btn{
    width: 50px;
    height: 50px;
    float: left;
    background-color: #FFC328;
    cursor: pointer;
}

.refresh-crud-btn img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.crud-place-holder{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/*invoices*/
.select-customer-form{
    width: 45%;
    display: inline-block;
}

.invoice-information-form{
    width: 45%;
    display: inline-block;
    text-align: right;
}

.invoice-endline-form{
    width: 40%;
    display: inline-block;
    text-align: right;
    float: right;
}