#view-box{
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
    min-height: 100%;
}

html {
    min-height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

body{
    background-color: transparent;
}

.content-place-holder{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
}

.errorMessage{
    font-size: 1.2em;
    color: red;
}