/*@page{
    size: A4;
}

.page{
    width: 1250px;
    height: 1800px;
    position: absolute;
    border-style: solid;
    border-width: 2px;
}
.print-on{
    display: block;
}

.print-off{
    display: none;
}

.print-footer{
    display: block;
    position: absolute;
    bottom: 0;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    white-space: pre;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}
.print-footer p{
    text-align: center;
    margin-top: 5px;
    padding: 0;
}

.print-footer span{
    margin: 0;
    padding: 0;
}



.top-left-info-order{
    position: relative;
    left: 0;
    top: 100px;
    width: 950px;
    border-style: solid;
    border-width: 2px;
}

.top-right-info-order{
    position: fixed;
    left: 950px;
    width: 300px;
    top: 100px;
    border-style: solid;
    border-width: 2px;
}

.top-right-info-order-left-column{
    display: inline-block;
}
.top-right-info-order-left-column{
    display: inline-block;
}

.grid-print-size{
    width: 1250px;
    height: 1000px;
    position: relative;
    top: 300px
}

.print-table{
    width: 1250px;
    max-width: 1250px;
    height: 1000px;
    position: relative;
    top: 300px
}

.print-table tr, td{
    padding: 0;
    margin: 0;
    height: 20px;
}

.print-table td{
    border: 1px solid black;
    border-collapse: collapse;
}*/